@font-face {
  font-family: 'Open Sans';
  src: url('../static/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

#app {
  // background: url('./images/logo.png');
  background: url('../static/images/Apple_logo.png');
}

h1 {
  color: #000;
  width: percentage(1 / 3);
  font-family: 'Open Sans';
}
